/* Styles for Mobile devices */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 20px 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
  }
}
